<div class="container1">
    <h1> ¡PELICULAS DE TU SAGA FAVORITA! </h1>
</div>


<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag '11.jpg', class: "d-block mx-auto img-fluid", style: "max-width: 1300px;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag '12.jpg', class: "d-block mx-auto img-fluid", style: "max-width: 1300px;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag '13.jpg', class: "d-block mx-auto img-fluid", style: "max-width: 1300px;" %>
    </div>
    <div class="carousel-item ">
      <%= image_tag '14.jpg', class: "d-block mx-auto img-fluid", style: "max-width: 1300px;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag '15.jpg', class: "d-block mx-auto img-fluid", style: "max-width: 1300px;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag '16.jpg', class: "d-block mx-auto img-fluid", style: "max-width: 1300px;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag '17.jpg', class: "d-block mx-auto img-fluid", style: "max-width: 1300px;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag '18.jpg', class: "d-block mx-auto img-fluid", style: "max-width: 1300px;" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
